allow recovery adb_data_file:file { getattr };
allow recovery adb_data_file:lnk_file { getattr };
allow recovery adb_keys_file:dir { getattr  open  read  search };
allow recovery adb_keys_file:file { getattr };
allow recovery adbd_prop:file { getattr  map  open };
allow recovery anr_data_file:file { getattr };
allow recovery apex_permission_data_file:dir { getattr };
allow recovery apex_permission_data_file:file { getattr };
allow recovery apex_rollback_data_file:dir { getattr  open  read  search };
allow recovery apex_rollback_data_file:file { getattr };
allow recovery apex_wifi_data_file:file { getattr };
allow recovery apexd_prop:file { getattr  map  open };
allow recovery apk_data_file:file { getattr };
allow recovery apk_private_data_file:dir { getattr };
allow recovery apk_verity_prop:file { getattr  map  open };
allow recovery app_data_file:dir { getattr  open  read  search };
allow recovery app_data_file:fifo_file { getattr };
allow recovery app_data_file:file { getattr };
allow recovery app_data_file:lnk_file { getattr };
allow recovery ashmem_libcutils_device:chr_file { execute };
allow recovery backup_data_file:dir { getattr };
allow recovery backup_data_file:file { getattr };
allow recovery block_device:blk_file { ioctl };
allow recovery block_device:dir { add_name  write };
allow recovery block_device:lnk_file { create };
allow recovery bluetooth_a2dp_offload_prop:file { getattr  map  open };
allow recovery bluetooth_audio_hal_prop:file { getattr  map  open };
allow recovery bluetooth_data_file:dir { getattr  open  read };
allow recovery bluetooth_logs_data_file:dir { getattr };
allow recovery bluetooth_prop:file { getattr  map  open };
allow recovery bootstat_data_file:dir { getattr  open  read  search };
allow recovery bootstat_data_file:file { getattr };
allow recovery boottime_prop:file { getattr  map  open };
allow recovery boottime_public_prop:file { getattr  map  open };
allow recovery boottime_public_prop:property_service { set };
allow recovery boottrace_data_file:dir { search };
allow recovery bpf_progs_loaded_prop:file { getattr  map  open };
allow recovery charger_prop:file { getattr  map  open };
allow recovery cold_boot_done_prop:file { getattr  map  open };
allow recovery configfs:dir { search };
allow recovery configfs:file { getattr };
allow recovery cpu_variant_prop:file { getattr  map  open };
allow recovery ctl_adbd_prop:file { getattr  map  open };
allow recovery ctl_apexd_prop:file { getattr  map  open };
allow recovery ctl_bootanim_prop:file { getattr  map  open };
allow recovery ctl_bugreport_prop:file { getattr  map  open };
allow recovery ctl_console_prop:file { getattr  map  open };
allow recovery ctl_default_prop:file { getattr  map  open };
allow recovery ctl_dumpstate_prop:file { getattr  map  open };
allow recovery ctl_fuse_prop:file { getattr  map  open };
allow recovery ctl_gsid_prop:file { getattr  map  open };
allow recovery ctl_interface_restart_prop:file { getattr  map  open };
allow recovery ctl_interface_start_prop:file { getattr  map  open };
allow recovery ctl_interface_stop_prop:file { getattr  map  open };
allow recovery ctl_mdnsd_prop:file { getattr  map  open };
allow recovery ctl_restart_prop:file { getattr  map  open };
allow recovery ctl_rildaemon_prop:file { getattr  map  open };
allow recovery ctl_sigstop_prop:file { getattr  map  open };
allow recovery ctl_start_prop:file { getattr  map  open };
allow recovery ctl_stop_prop:file { getattr  map  open };
allow recovery dalvikcache_data_file:file { getattr };
allow recovery default_prop:property_service { set };
allow recovery device:chr_file { ioctl  map  open  read };
allow recovery device_config_activity_manager_native_boot_prop:file { getattr  map  open };
allow recovery device_config_boot_count_prop:file { getattr  map  open };
allow recovery device_config_configuration_prop:file { getattr  map  open };
allow recovery device_config_input_native_boot_prop:file { getattr  map  open };
allow recovery device_config_media_native_prop:file { getattr  map  open };
allow recovery device_config_netd_native_prop:file { getattr  map  open };
allow recovery device_config_reset_performed_prop:file { getattr  map  open };
allow recovery device_config_runtime_native_boot_prop:file { getattr  map  open };
allow recovery device_config_runtime_native_prop:file { getattr  map  open };
allow recovery device_config_storage_native_boot_prop:file { getattr  map  open };
allow recovery device_config_sys_traced_prop:file { getattr  map  open };
allow recovery device_config_window_manager_native_boot_prop:file { getattr  map  open };
allow recovery device_logging_prop:file { getattr  map  open };
allow recovery devpts:chr_file { getattr  ioctl  open  read };
allow recovery dm_device:blk_file { ioctl };
allow recovery drm_data_file:dir { getattr };
allow recovery dropbox_data_file:dir { getattr  read  search };
allow recovery dropbox_data_file:file { getattr };
allow recovery dumpstate_options_prop:file { getattr  map  open };
allow recovery dynamic_system_prop:file { getattr  map  open };
allow recovery exported_audio_prop:file { getattr  map  open };
allow recovery exported_bluetooth_prop:file { getattr  map  open };
allow recovery exported_camera_prop:file { getattr  map  open };
allow recovery exported_overlay_prop:file { getattr  map  open };
allow recovery exported_wifi_prop:file { getattr  map  open };
allow recovery face_vendor_data_file:dir { getattr  read };
allow recovery fingerprint_vendor_data_file:dir { getattr  open  read  search };
allow recovery firstboot_prop:file { getattr  map  open };
allow recovery fscklogs:dir { add_name  search  write };
allow recovery fscklogs:file { create  getattr  write };
allow recovery graphics_config_prop:file { getattr  map  open };
allow recovery hal_bootctl_hwservice:hwservice_manager { add };
allow recovery hal_gatekeeper_hwservice:hwservice_manager { add  find };
allow recovery hal_health_hwservice:hwservice_manager { add  find };
allow recovery hal_keymaster_hwservice:hwservice_manager { add  find };
allow recovery heapdump_data_file:dir { getattr };
allow recovery heapprofd_enabled_prop:file { getattr  map  open };
allow recovery hidl_base_hwservice:hwservice_manager { add };
allow recovery hidl_manager_hwservice:hwservice_manager { add };
allow recovery hidl_token_hwservice:hwservice_manager { add };
allow recovery hwservicemanager_prop:property_service { set };
allow recovery incident_data_file:dir { getattr  open  read  search };
allow recovery incremental_prop:file { getattr  map  open };
allow recovery init:key { write };
allow recovery init_exec:file { getattr };
allow recovery init_perf_lsm_hooks_prop:file { getattr  map  open };
allow recovery init_svc_debug_prop:file { getattr  map  open };
allow recovery install_data_file:dir { getattr  read };
allow recovery install_data_file:file { getattr };
allow recovery iorapd_data_file:dir { search };
allow recovery iorapd_data_file:file { getattr };
allow recovery kernel:security { compute_av };
allow recovery keychain_data_file:file { getattr };
allow recovery kmsg_device:chr_file { getattr  open  write };
allow recovery last_boot_reason_prop:file { getattr  map  open };
allow recovery linkerconfig_file:dir { getattr };
allow recovery llkd_prop:file { getattr  map  open };
allow recovery lmkd_prop:file { getattr  map  open };
allow recovery logpersistd_logging_prop:file { getattr  map  open };
allow recovery lowpan_prop:file { getattr  map  open };
allow recovery lpdumpd_prop:file { getattr  map  open };
allow recovery media_rw_data_file:dir { getattr  ioctl  mounton  read  search };
allow recovery media_rw_data_file:file { getattr  open  read };
allow recovery media_variant_prop:file { getattr  map  open };
allow recovery metadata_file:dir { open  read };
allow recovery mmc_prop:file { getattr  map  open };
allow recovery mnt_vendor_file:dir { add_name  open  read  search  write };
allow recovery mnt_vendor_file:file { create  getattr  read };
allow recovery mock_ota_prop:file { getattr  map  open };
allow recovery net_data_file:dir { getattr };
allow recovery net_dns_prop:file { getattr  map  open };
allow recovery netd_stable_secret_prop:file { getattr  map  open };
allow recovery network_watchlist_data_file:dir { getattr  open  read  search };
allow recovery nnapi_ext_deny_product_prop:file { getattr  map  open };
allow recovery ota_data_file:dir { getattr };
allow recovery overlay_prop:file { getattr  map  open };
allow recovery packages_list_file:file { getattr };
allow recovery perfetto_traces_data_file:dir { getattr  read };
allow recovery persistent_properties_ready_prop:file { getattr  map  open };
allow recovery postinstall_mnt_dir:dir { read };
allow recovery prereboot_data_file:dir { getattr  open  read  search };
allow recovery privapp_data_file:dir { getattr  open  read  search };
allow recovery privapp_data_file:file { getattr };
allow recovery profman_dump_data_file:dir { getattr };
allow recovery property_data_file:dir { getattr };
allow recovery property_data_file:file { getattr };
allow recovery radio_data_file:dir { getattr  open  read  search };
allow recovery radio_data_file:file { getattr };
allow recovery rebootescrow_hal_prop:file { getattr  map  open };
allow recovery recovery:binder { call  set_context_mgr  transfer };
allow recovery recovery:capability { sys_rawio };
allow recovery recovery:capability2 { wake_alarm };
allow recovery recovery:key { search };
allow recovery recovery:netlink_kobject_uevent_socket { bind  create  getopt  read  setopt };
allow recovery recovery:netlink_selinux_socket { bind  create };
allow recovery recovery:process { execmem  setexec };
allow recovery recovery_data_file:dir { getattr };
allow recovery resourcecache_data_file:dir { search };
allow recovery resourcecache_data_file:file { getattr };
allow recovery restorecon_prop:property_service { set };
allow recovery ringtone_file:dir { getattr };
allow recovery rootfs:dir { add_name  create  write };
allow recovery rootfs:file { create  write };
allow recovery rootfs:lnk_file { create };
allow recovery safemode_prop:file { getattr  map  open };
allow recovery selinuxfs:dir { open  read };
allow recovery selinuxfs:file { write };
allow recovery server_configurable_flags_data_file:dir { getattr  open  read  search };
allow recovery service_manager_service:service_manager { add };
allow recovery service_manager_vndservice:service_manager { add };
allow recovery shell_data_file:dir { getattr };
allow recovery shortcut_manager_icons:dir { getattr };
allow recovery shortcut_manager_icons:file { getattr };
allow recovery snapshotctl_log_data_file:dir { getattr };
allow recovery staging_data_file:file { getattr };
allow recovery stats_data_file:dir { getattr  open  read  search };
allow recovery storaged_data_file:dir { getattr  read };
allow recovery storaged_data_file:file { getattr };
allow recovery surfaceflinger_display_prop:file { getattr  map  open };
allow recovery sysfs:dir { open  read };
allow recovery sysfs:file { getattr  open  read  write };
allow recovery system_adbd_prop:file { getattr  map  open };
allow recovery system_app_data_file:file { getattr };
allow recovery system_boot_reason_prop:file { getattr  map  open };
allow recovery system_data_file:dir { ioctl  open  read  remove_name };
allow recovery system_data_file:file { read };
allow recovery system_data_file:lnk_file { getattr };
allow recovery system_data_root_file:dir { ioctl  read };
allow recovery system_jvmti_agent_prop:file { getattr  map  open };
allow recovery system_lmk_prop:file { getattr  map  open };
allow recovery system_ndebug_socket:sock_file { getattr };
allow recovery system_trace_prop:file { getattr  map  open };
allow recovery system_unsolzygote_socket:sock_file { getattr };
allow recovery test_boot_reason_prop:file { getattr  map  open };
allow recovery test_harness_prop:file { getattr  map  open };
allow recovery textclassifier_data_file:file { getattr };
allow recovery theme_prop:file { getattr  map  open };
allow recovery time_prop:file { getattr  map  open };
allow recovery tombstone_wifi_data_file:dir { getattr };
allow recovery trace_data_file:dir { open };
allow recovery traced_enabled_prop:file { getattr  map  open };
allow recovery traced_lazy_prop:file { getattr  map  open };
allow recovery traced_perf_enabled_prop:file { getattr  map  open };
allow recovery unencrypted_data_file:dir { getattr  read  write };
allow recovery unencrypted_data_file:file { open  read };
allow recovery unlabeled:fifo_file { getattr };
allow recovery update_engine_data_file:dir { getattr };
allow recovery user_profile_data_file:dir { search };
allow recovery user_profile_data_file:file { getattr };
allow recovery userspace_reboot_config_prop:file { getattr  map  open };
allow recovery userspace_reboot_exported_prop:file { getattr  map  open };
allow recovery userspace_reboot_log_prop:file { getattr  map  open };
allow recovery userspace_reboot_test_prop:file { getattr  map  open };
allow recovery vehicle_hal_prop:file { getattr  map  open };
allow recovery vendor_data_file:dir { ioctl  read };
allow recovery vendor_security_patch_level_prop:file { getattr  map  open  read };
allow recovery vndbinder_device:chr_file { ioctl  map  open  read  write };
allow recovery vold_data_file:dir { add_name  getattr  read  search  write };
allow recovery vold_data_file:file { getattr  read };
allow recovery vold_metadata_file:dir { getattr  open  read  search };
allow recovery vold_metadata_file:file { getattr  open  read };
allow recovery vold_prop:property_service { set };
allow recovery vpn_data_file:dir { getattr };
allow recovery wallpaper_file:file { getattr };
allow recovery wifi_prop:file { getattr  map  open };
allow recovery wm_trace_data_file:dir { read };
allow recovery wpa_data_file:dir { getattr  read };
allow recovery wpa_socket:dir { getattr };
